<div class="containter">
        <div class="row">
                        <div class="col-3">
                                  <h1>
                                    500 Serverrrrrrrr <br />
                                    errorrrrrrrrr! <br />
                                    Pls reload. <br />
                                  </h1>
                                  <div class="row mx-auto pt-3 mt-3">
                                    <button type="button" class="btn btn-primary ml-auto mt-4" (click)="goBack()">Go
                                      back</button>
                                  </div>
                                </div>
    
            <img class="giphy rounded mx-auto col-9" src="https://media.giphy.com/media/l3V0gnmiNvCNz85Wg/giphy.gif">
        </div>
    </div>
